.UserBox li{
    width: 130px;
    height: 50px;
    background-color: gray;
    border-radius: 15px;
    line-height: 50px;
    color: black;
    margin-left: 10px;
}
.UserBox li:hover{
    background-color: cyan;
}